@page
@model SecondHandWebShop.Pages.Hats.AllHatsModel
@{
}

<h2>Hats</h2>

<div class="btn-group">
    <a asp-page="CreateHats" class="btn btn-outline-dark" role="button">Add a new hat</a>
    <a href="~/AdminView" class="btn btn-outline-dark" role="button">Admin Home</a>
</div>
<table class="table table-striped table-bordered table-hover" style="width:100%" border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("ImageUrl")
            </th>
            <th>
                @Html.DisplayName("Brand")
            </th>
            <th>
                @Html.DisplayName("TypeOf")
            </th>
            <th>
                @Html.DisplayName("Color")
            </th>
            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllHats)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                <img src="@Url.Content(item.ImageUrl)" alt="alternative text" style="width:50px;height:50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a asp-page="./EditHats" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./HatsDetail" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./AllHats" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>