@page
@model SecondHandWebShop.Pages.Hats.HatsDetailModel
@{
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hats.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hats.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hats.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hats.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hats.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hats.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hats.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hats.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hats.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hats.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hats.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hats.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hats.TypeOf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hats.TypeOf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hats.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hats.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditHats" asp-route-id="@Model.Hats.Id">Edit</a> |
    <a asp-page="./AllHats">Back to List</a>
</div>