@page
@model SecondHandWebShop.Pages.Jewelries.AllJewelriesModel
@{
}

<h2>Jewelries</h2>

<p>
    <a asp-page="CreateJewelries">Add new jewelry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("ImageUrl")
            </th>
            <th>
                @Html.DisplayName("Brand")
            </th>
            <th>
                @Html.DisplayName("TypeOf")
            </th>
            <th>
                @Html.DisplayName("Material")
            </th>
            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.allJewelries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                    <img src="@Url.Content(item.ImageUrl)" alt="alternative text" style="width:50px;height:50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    <a asp-page="./EditJewelries" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./JewelriesDetail" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./AllJewelries" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>