@page
@model SecondHandWebShop.Pages.Jewelries.JewelriesDetailModel
@{
}


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jewelery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jewelries.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jewelries.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jewelries.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jewelries.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jewelries.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jewelries.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jewelries.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jewelries.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jewelries.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jewelries.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jewelries.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jewelries.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jewelries.TypeOf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jewelries.TypeOf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jewelries.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jewelries.Material)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditJewelries" asp-route-id="@Model.Jewelries.Id">Edit</a> |
    <a asp-page="./AllJewelries">Back to List</a>
</div>