@page
@model CatalogModel
@{
    ViewData["Title"] = "Katalog";
}

<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <img src="img/logo.png">
            <div class="list-group">
                <a href="Catalog?Category=all" class="list-group-item">Alla produkter</a>
                <a href="Catalog?Category=Merchandise" class="list-group-item">Merchandise</a>
                <a href="Catalog?Category=Hat" class="list-group-item">Hattar</a>
                <a href="Catalog?Category=Jacket" class="list-group-item">Jackor</a>
                <a href="Catalog?Category=Jewelry" class="list-group-item">Smycken</a>
                <a href="Catalog?Category=Shirt" class="list-group-item">Tröjor</a>
                <a href="Catalog?Category=Trouser" class="list-group-item">Byxor</a>
                <a href="Catalog?Category=Shoe" class="list-group-item">Skor</a>
                <a href="Catalog?Category=Discount" class="list-group-item">Rea</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">
                @switch (Model.Category)
                {
                    case "all":
            @foreach (var item in Model.AllClothing)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>} break;
        case "Merchandise":
            @foreach (var item in Model.Merchandise)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                    <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>} break;
        case "Hat":
            @foreach (var item in Model.AllHats)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>} break;
        case "Jacket":
            @foreach (var item in Model.AllJackets)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>} break;
        case "Jewelry":
            @foreach (var item in Model.AllJewelries)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>}break;
        case "Shirt":
            @foreach (var item in Model.AllShirts)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>}break;
        case "Trouser":
            @foreach (var item in Model.AllTrousers)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>}break;
        case "Shoe":
            @foreach (var item in Model.AllShoes)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>}break;
        case "Discount":
            @foreach (var item in Model.ProductsOnDiscount)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>}break;

        default:
            @foreach (var item in Model.AllClothing)
            {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="Product?ID=@item.Id"><img class="card-img-top" src="@item.ImageUrl" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="Product?ID=@item.Id">@item.Name</a>
                        </h4>
                        @if (item.Discount > 0)
                        {
                            item.DiscountedPrice = item.Price - (item.Price * item.Discount) / 100;
                            <h5><s>@Math.Round(item.Price) kr</s> @Math.Round(item.DiscountedPrice) kr </h5>
                            <p style="color:palevioletred">@Math.Round(item.Discount)% OFF</p>
                        }
                        else
                        {
                            <h5>@Math.Round(item.Price) kr</h5>
                        }
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Brand</small>
                    </div>
                </div>
            </div>}break;
                        }


            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->