@page
@model SecondHandWebShop.Pages.ProductModel
@{
}
<div class="container">

    <div class="row">
        <!-- /.col-lg-3 -->

        <div class="col-sm-12">
            <a href="Catalog?Category=@Model.Product.Category" class="list-group-item">@Model.Product.Category</a>
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="@Model.Product.ImageUrl" alt="">
                <div class="card-body">
                    <h3 class="card-title">@Model.Product.Name</h3>
                    <p class="card-text">@Model.Product.Description</p>
                    <a href="#" class="float-right btn btn-info">Köp</a>
                    @if (Model.Product.Discount > 0)
                    {
                        Model.Product.DiscountedPrice = Model.Product.Price - (Model.Product.Price * Model.Product.Discount) / 100;
                        <h5><s>@Math.Round(Model.Product.Price) kr</s> @Math.Round(Model.Product.DiscountedPrice) kr </h5>
                        <p style="color:palevioletred">@Math.Round(Model.Product.Discount)% OFF</p>
                    }
                    else
                    {
                        <h5>@Math.Round(Model.Product.Price) kr</h5>
                    }
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Info
                </div>
                <div class="card-body">
                    <p>Storlek: @Model.Product.Size</p>
                    <hr />
                    <p>Material: @Model.Product.Material</p>
                </div>
                @if (Model.Product.StockBalance > 1)
                {
                    <hr />
                    <p>Lagersaldo: @Model.Product.StockBalance</p>
                }
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>