@page
@model SecondHandWebShop.Pages.Jackets.JacketsDetailModel
@{
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jacket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.TypeOf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.TypeOf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jackets.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jackets.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditJackets" asp-route-id="@Model.Jackets.Id">Edit</a> |
    <a asp-page="./AllJackets">Back to List</a>
</div>