@page
@model SecondHandWebShop.Pages.Shirts.ShirtsDetailModel
@{
}


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shirt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.TypeOf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.TypeOf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirts.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditShirts" asp-route-id="@Model.Shirts.Id">Edit</a> |
    <a asp-page="./AllShirts">Back to List</a>
</div>